*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 1fr; /* делим всю область на 2 колонки: левую 300пх и правую - оставшаяся ширина*/
    grid-template-rows: 72px 1fr 72px;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
    /* делаю разделители */
    gap: 1rem;
    margin: 0 auto;
    max-width: 80%;
}

.header{
    /* назначаю каждому область грида */
    grid-area: header;
    background-color: #e2deed;
}
.main{
    grid-area: main;
    background-color: #e2deed;
    min-height: 300px;
}
.aside{
    grid-area: aside;
    background-color: #e2deed;
    min-height: 300px;

}
.footer{
    grid-area: footer;
    background-color: #e2deed;
}

@media screen and (max-width: 468px) {
    .grid-container{
        width: 100%;
        grid-template-areas: 
        'header'
        'aside'
        'main'
        'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}